.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-input > input {
  padding: 8px;
  margin: 10px 20px;
  font-size: 15px;
}

.product-input > label {
  padding: 8px;
  margin-right: 10px;
  font-size: 19px;
}

.product-input > select {
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}
.product-input > button {
  padding: 5px;
  margin-left: 10px;
  font-size: 16px;
  width: 65px;
  border: none;
  background-color: blue;
  color: aliceblue;
  height: 35px;
}
